*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
.bodymovie{
    background-color: black;
}  
.infomovie{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: red;
}
ul{
    list-style: none;
    display:flex;
    justify-content: space-around;
}
li{
    margin-left: 40px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}

.cars222{
    width: 500px;
}
.piecars{
    display: flex;
    color: red;
    font-weight: bolder;

}

/* Selector de Calses */

.body{
    background-color: rgba(177, 0, 0, 1);
}

.header{
   display:flex;
   background-color: black;
   justify-content: space-around;
   align-items: center;
   padding: 20px;
}

.logo{
     border-radius: 180;
     width:100px;
     
}

nav ul{
    list-style: none;
    color: rgba(177, 0, 0, 1);
    font-weight: bolder;
    font-size: 20px;
}

ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
}
.labl{
    color: red;
}

li{
    padding-left: 40px;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    color: rgba(177, 0, 0, 1);
}

li a{
   text-decoration: none;
   color: rgba(177, 0, 0, 1);
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;   
    background-color: black;
    padding: 20px;
}

.for{
    margin-top:20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
    
.bodymovie{
    background-color: black;
    display: flex;

}

.infomovie{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}

.disneymovies{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: nowrap;
}

.netflix-movies{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: nowrap;
}

.netflix-series{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: nowrap;
}

.section-container{
margin-bottom: 20px;
margin-top: 20px;
}

.h2-ds{
margin-bottom: 20px;
font-family:'Courier New', Courier, monospace;
font-weight: bolder;
}

.card img{
height: 270px;
width: 190px;
border: 5px solid black;
}

.generos{
display: flex;
justify-content: space-around;
}

.generos1{
background-color: black;
font-weight: bolder;
color: rgba(177, 0, 0, 1);
}

/* Selector de Etiquetas */


