*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

/* Body */

.body{
background-color: rgba(177, 0, 0, 1);
font-family:'Courier New', Courier, monospace;
}

/* Headers & Footers */

.hamburguer{
width: 50px;
display: none;
}

.header{
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px;
background-color: black;
}

.logo{
width: 100px;
}

li{
margin-left: 40px;
font-family:'Times New Roman', Times, serif;
font-weight: bolder;
}

.lii{
color: rgba(177, 0, 0, 1); 
text-decoration: none;
font-size: 20px;
}

.footer{
background-color: black;
padding: 20px;
color:  rgba(177, 0, 0, 1); 
}

ul{
list-style: none;
display:flex;
justify-content: space-around;
}

.search-form {
    display: flex;
    align-items: center;
    background-color:  rgba(177, 0, 0, 1);
    padding: 7px;
    border-radius: 5px;
}

.search-form input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid black;
}

.search-form button {
    padding: 10px 15px;
    background-color: rgba(177, 0, 0, 1);
    color: white;
    border: none;
    font-weight: bold;
}

.search-form label {
    color: black;
    font-size: 14px;
}

/* Index */

.mainindex{
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section-container{
display: flex;
padding: 10px;
gap: 10px;
justify-content: space-around;
align-items: center;
flex-wrap: nowrap;
}

.section-container a {
  color: black;
  text-decoration: none;
  font-family:'Courier New', Courier, monospace;
  font-size: 15px;

}

.section-container img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

    
.h2-ds{
margin-bottom: 20px;
font-family:'Courier New', Courier, monospace;
font-weight: bolder;
padding-left: 20px;
}
    
.card img{
height: 270px;
width: 190px;
border: 5px solid black;
}

.texto-cards{
font-family: 'Courier New', Courier, monospace;
color: black;
font-weight: bolder;
border: solid 1px black;
}

.movis{
   width: 200px;
   display: flex;
   flex-direction: column;
   align-content: center;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   margin: 5px;
   
}
/* Register & Login */

.for{
display: flex;
justify-self: center;
align-items: center;
background-color: black;
margin: 40px;
height:60vh;
width: 30vw;
}

.cuen{
text-decoration: none;
color: rgba(177, 0, 0, 1);
}

.lgi{
color:  rgba(177, 0, 0, 1); 
 padding: 15px;
}

/* Result */

.section-containerg{
margin-bottom: 50px;
margin-top: 40px;  
}

/* Serie Genre */

.div-generos{
padding-top: 40px;
border-top: solid 1px rgba(177, 0, 0, 1);
}  

.generos{
display: flex;
justify-content: space-around;
margin-bottom: 115px;
margin-top: 40px;
font-size: xx-large;
font-family: 'Courier New', Courier, monospace;
}

.generos1{
font-weight: bolder;
color: black;
}

.texto-generos{
font-family: 'Courier New', Courier, monospace;
font-size: xx-large;
text-decoration: none;
}    

/* Detail Movie & Detail Serie */

.Cars-Section{
display: flex;
padding-top: 30px;
padding-left: 200px;
padding-bottom: 50px;
}

.Cars-Photo{
padding-right: 20px;
height: 410px;
width: 300px;
}

.Cars-Text-Detail{
font-family: 'Courier New', Courier, monospace;
font-weight: bolder;
color: black;
padding-bottom: 20px;
border: solid 1px black;
}

.h1-Cars-Detail{
font-family: 'Courier New', Courier, monospace;
color: black;
padding-left: 200px;
}

.li-Cars-Detail{
font-family: 'Courier New', Courier, monospace;
color: black;
}

.BreakingBad-Photo{
padding-right: 20px;
height: 450px;
width: 350px;
}

/* Detail Genre */ 

.moviemain{
margin-bottom: 15px;
margin-top: 10px;
text-decoration: none;
}

.section-container-genre{
padding: 15px;
}

.disneymovies-genre{

display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: nowrap;
padding: 20px;
}

.a-genre{
text-decoration: none;
color: black;
font-weight: bolder;
}

/* Media */

@media (max-width: 350px){

.header{
    flex-direction: column;
    align-items:flex-start;
}
ul {
    flex-direction: column;
    width: 100%;
    padding: 5px;
  }

li{
margin: 10px;
  }

.for{
    flex-direction: column;
    width: 80%;
    padding-left: 10px;
    }

.generos{
    flex-direction: column;
}
.disneymovies{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.netflix-series{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.netflix-movies{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.disneymovies-genre {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

.Cars-Section {
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }

  
.h1-Cars-Detail {
    padding-left: 0;
    text-align: center;
  }

.Cars-Photo{
    height: auto;
    width: 80%;
}

.Cars-Text-Detail{
    text-align: center;
    padding: 0;
}

.BreakingBad-Photo {
    width: 90%;
    height: auto;
  }



}