*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

/* Selector de Calses */

.body{
    background-color: rgba(177, 0, 0, 1);
}
.header{
   display:flex;
   background-color: black;
   justify-content: space-around;
   align-items: center;
   padding: 20px;
}

.logo{
     border-radius: 180;
     width:100px;
}

nav ul{
    color: rgba(177, 0, 0, 1);
    list-style: none;
    font-weight: bolder;
    font-size: 20px;
}

ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

li{
    margin-left: 40px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}


.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;   
    background-color: black;
    padding: 20px;
}


/* Selector de Etiquetas */



/* Selector de ID*/